* {
    padding: 0;
    margin: 0;
}

footer.s-design-one,
footer.s-design-one * {
    outline: 1px blue dashed;
}

section.f-s-design{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer.d-s-one{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: aqua;
    border: 5px solid;
}
footer.d-s-one .column{
    margin: auto;
    padding: 5px;
    border: 3px solid;
    background-color: brown;
    & h4, p{
        color: white;
    }
}

footer.d-s-two{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    border: 5px solid white;
}

footer.d-s-two .left {
    padding-left: 50px;
    & img{
        width: 100px;
        height: 100px;
        filter: drop-shadow(0 0 10px white);
    }
}