* {
    padding: 0;
    margin: 0;
}

footer.d-s-one,
footer.d-s-one * {
    outline: 1px blue dashed;
}

section.f-s-design{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer.d-s-one{
    background-color: aqua;
    border: 5px solid;
    & p{
        text-align: center;
        font-weight: bold;
    }
}
footer.d-s-one .column{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border: 3px solid;
    background-color: brown;
    & h4, p{
        text-align: center;
        color: white;
    }
}

footer.d-s-one .cpr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & p {
        font-size: large;
    }
}

footer.d-s-two{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(12, 8, 51);
    border: 5px solid rgb(160, 160, 160);
    & p{
        text-align: center;
        color: white;
    }
}

footer.d-s-two .separation{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

footer.d-s-two .separation .left {
    padding-left: 100px;
    & img{
        width: 200px;
        height: 200px;
        filter: drop-shadow(0 0 10px white);
    }
}

footer.d-s-two .separation .right {
    padding-right: 100px;
    & h4, p{
        color: white;
    }
}

footer.d-s-three{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 155, 155);
    background-image: linear-gradient( rgb(255, 155, 155), rgb(255, 255, 123) );
    border: 5px solid;
}

footer.d-s-three .dscrpt{
    margin-right: 25px;
    margin-left: 25px;
}

footer.d-s-three .scmi{
    display:flex;
    justify-content: center;
    & img{
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

footer.d-s-four {
    background-image: url(../img/footer-background-four.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    & p{
        color: white;
    }
}

footer.d-s-four .sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer.d-s-four .sections .section-one{
    margin-left: 25px;
    margin-right: 25px;
    & h4{
        font-family: 'Courier New', Courier, monospace;
        color: red;
    }
    & a{
        color: rgb(148, 95, 95);
    }
}

footer.d-s-four .sections .section-two{
    margin-left: 25px;
    margin-right: 25px;
    & h4{
        font-family: 'Courier New', Courier, monospace;
        color: red;
    }
    & a{
        color: rgb(148, 95, 95);
    }
}

footer.d-s-four .sections .section-three{
    margin-left: 25px;
    margin-right: 25px;
    & img{
        width: 50%;
        height: 50%;
    }
}