* {
    padding: 0;
    margin: 0;
}

header.d-one,
header.d-one * {
    outline: 1px blue dashed;
}

header.d-two,
header.d-two * {
    outline: 1px rgb(229, 255, 0) dashed;
}

body {
    & h1, h2, a{
        text-align: center;
    }
}

section.h-s-design-one{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header.d-s-one {
    display:flex;
    justify-content: space-between;
    padding: .8rem 5vw;
    align-items: center;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    & img{
        width: 5%;
        height: 5%;
    }
    & a{
        font-family: 'Times New Roman', Times, serif;
        color: black;
        font-size: larger;
        text-decoration: underline;
        font-weight: bolder;
    }
}

section.h-s-design-two{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header.d-s-two {
    display:flex;
    padding: .8rem 5vw;
    align-items: center;
    margin: 0px;
    background-color: black;
    & img{
        width: 7.5%;
        height: 7.5%;
    }
    & a{
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(148, 0, 0);
        font-size: 30px;
        text-decoration: underline;
        font-weight: bolder;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
}